<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Haegl InterviewEdge</title>
    <link rel="stylesheet" href="/static/assets/vendors/mdi/css/materialdesignicons.min.css" />
    <link rel="stylesheet" href="/static/assets/vendors/flag-icon-css/css/flag-icon.min.css" />
    <link rel="stylesheet" href="/static/assets/vendors/css/vendor.bundle.base.css" />
    <link rel="stylesheet" href="/static/assets/vendors/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/static/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css" />
    <link rel="stylesheet" href="/static/assets/css/style.css" />
    <link rel="shortcut icon" href="/images/favicon.png" />
  </head>
  <body>
    <div class="container-scroller">
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="text-center sidebar-brand-wrapper d-flex align-items-center">
          <div class="d-flex align-items-center">
    <img style="margin-right:0;" width="70px" height="80px" src="/static/assets/images/haegl_transparent.png" alt="logo"/>
    <h3 class="mb-0">InterviewEdge</h3>
  </div>
          <a class="sidebar-brand brand-logo-mini pl-4 pt-3" href="index.html"><img src="/static/assets/images/logo-mini.svg" alt="logo" /></a>
        </div>
        <br> <br>
        <ul class="nav">
          <li class="nav-item nav-profile">

          </li>
          <li class="nav-item">
            <a class="nav-link" href="/company_dashboard">
              <i class="mdi mdi-home menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/job_vacancy">
              <i class="mdi mdi-contacts menu-icon"></i>
              <span class="menu-title">Jobs</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/job_applications">
              <i class="mdi mdi-contacts menu-icon"></i>
              <span class="menu-title">Applications</span>
            </a>
          </li>



        </ul>
      </nav>
      <div class="container-fluid page-body-wrapper">
        <div id="theme-settings" class="settings-panel">
          <i class="settings-close mdi mdi-close"></i>
          <p class="settings-heading">SIDEBAR SKINS</p>
          <div class="sidebar-bg-options selected" id="sidebar-default-theme">
            <div class="img-ss rounded-circle bg-light border mr-3"></div> Default
          </div>
          <div class="sidebar-bg-options" id="sidebar-dark-theme">
            <div class="img-ss rounded-circle bg-dark border mr-3"></div> Dark
          </div>
          <p class="settings-heading mt-2">HEADER SKINS</p>
          <div class="color-tiles mx-0 px-4">
            <div class="tiles light"></div>
            <div class="tiles dark"></div>
          </div>
        </div>
        <nav class="navbar col-lg-12 col-12 p-lg-0 fixed-top d-flex flex-row">
          <div class="navbar-menu-wrapper d-flex align-items-stretch justify-content-between">
            <a class="navbar-brand brand-logo-mini align-self-center d-lg-none" href="index.html"><img src="/static/assets/images/logo-mini.svg" alt="logo" /></a>
            <button class="navbar-toggler navbar-toggler align-self-center mr-2" type="button" data-toggle="minimize">
              <i class="mdi mdi-menu"></i>
            </button>
            <ul class="navbar-nav">


              <li class="nav-item nav-search border-0 ml-1 ml-md-3 ml-lg-5 d-none d-md-flex">
                <form class="nav-link form-inline mt-2 mt-md-0">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" />
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="mdi mdi-magnify"></i>
                      </span>
                    </div>
                  </div>
                </form>
              </li>
            </ul>
            <ul class="navbar-nav navbar-nav-right ml-lg-auto">

              <li class="nav-item nav-profile dropdown border-0">
                <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown">
                  <img class="nav-profile-img mr-2" alt="" src="/static/assets/images/user.png" />
                  <span class="profile-name">{{first_name}}</span>
                </a>
                <div class="dropdown-menu navbar-dropdown w-100" aria-labelledby="profileDropdown">

                  <a class="dropdown-item" href="/company_logout">
                    <i class="mdi mdi-logout mr-2 text-primary"></i> Signout </a>
                </div>
              </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
              <span class="mdi mdi-menu"></span>
            </button>
          </div>
        </nav>
        <div class="main-panel">
          <div class="content-wrapper pb-0">
          
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <h4 class="card-title">Add Job Details</h4>
                        </div>
                      
                    </div>
                    <br>
                    <form class="forms-sample" method="post">
                      {% csrf_token %}
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="exampleInputName1">Job Designation</label>
                              <input type="text" class="form-control" name="designation" id="exampleInputName1" placeholder="job title">
                            </div>
                            <!-- Other form fields for the first column -->
                            <div class="form-group">
                              <label for="exampleInputEmail3">Location</label>
                              <input type="text" name="location" class="form-control" id="exampleInputEmail3" placeholder="location">
                            </div>
                            <div class="form-group">
                              <label for="exampleInputPassword4">Work mode</label>
                              <select type="text" name="work_mode" class="form-control" id="exampleInputPassword4" placeholder="work mode">
                                <option value="">--select--</option>
                                <option value="Work from office">Work from office</option>
                                <option value="Remote">Remote</option>
                                <option value="Hybrid">Hybrid</option>
                               </select>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail3">No. of vacancy</label>
                                <input type="text" name="no_of_vacancy" class="form-control" id="exampleInputEmail3" placeholder="number of vacancy">
                              </div>
                              <div class="form-group">
                                <label for="exampleTextarea1">Mandatory Skills</label>
                                <textarea name="mandatory_skills" class="form-control" id="exampleTextarea1" rows="4"></textarea>
                              </div>
                              <div class="form-group">
                                <label for="exampleInputEmail3">State</label>
                                <input type="text" name="state" class="form-control" id="exampleInputEmail3" placeholder="state">
                              </div>
                              <div class="form-group">
                                <label for="exampleInputPassword4">Job Type</label>
                                <select name="job_type" type="text" class="form-control" id="exampleInputPassword4" placeholder="job type">
                                    <option value="">--select--</option>
                                  <option value="Full time">Full time</option>
                                  <option value="Part time">Part time</option>
                                  
                                 </select>
                              </div>
                              <div class="form-group">
                                <label for="exampleInputPassword4">Type</label>
                                <select name="type" type="text" class="form-control" id="exampleInputPassword4" >
                                    <option value="">--select--</option>
                                  <option value="job">Job</option>
                                  <option value="internship">Internship</option>
                                  
                                 </select>
                              </div>
                            <!-- Add more form fields as needed -->
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="exampleSelectGender">Department</label>
                              <select name="department" class="form-control" id="exampleSelectGender">
                                <option value="">--select--</option>
                                <option value="Information Technology (IT)">Information Technology (IT)</option>
                                <option value="Customer Service">Customer Service</option>
                                <option value="Research and Development">Research and Development</option>
                                <option value="Administration">Administration</option>
                                <option value="Legal and Compliance">Legal and Compliance</option>
                                <option value="Finance and Accounting">Finance and Accounting</option>
                                <option value="Human Resources (HR)">Human Resources (HR)</option>
                                <option value="Sales and Marketing">Sales and Marketing</option>
                                <option value="Public Relations (PR) and Communications">Public Relations (PR) and Communications</option>
                                
                              </select>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword4">Experience</label>
                                <input name="experience" type="text" class="form-control" id="exampleInputPassword4" placeholder="experience">
                              </div>
                            
                            <!-- More form fields for the second column -->
                            <div class="form-group">
                              <label for="exampleInputCity1">Qualification</label>
                              <input type="text" name="qualification" class="form-control" id="exampleInputCity1" placeholder="qualification">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputCity1">Package</label>
                                <input type="text" name="package" class="form-control" id="exampleInputCity1" placeholder="package">
                              </div>
                            <div class="form-group">
                              <label for="exampleTextarea1">Optional Skills</label>
                              <textarea name="optional_skills" class="form-control" id="exampleTextarea1" rows="4"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputCity1">Country</label>
                                <input name="country" type="text" class="form-control" id="exampleInputCity1" placeholder="country">
                              </div>
                              <div class="form-group">
                                <label for="exampleInputPassword4">Job Status</label>
                                <select name="job_type" type="text" class="form-control" id="exampleInputPassword4" placeholder="Password">
                                    <option value="">--select--</option>
                                  <option value="Open">Open</option>
                                  <option value="Close">Close</option>
                                  
                                 </select>
                              </div>
                             
                            <!-- Additional form fields -->
                          </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleTextarea1">Job Description</label>
                            <textarea name="job_description" class="form-control" id="exampleTextarea1" rows="6"></textarea>
                          </div>
                        <button type="submit" class="btn btn-primary mr-2">Submit</button>
                        
                      </form>
                      
                  </div>
                </div>
              </div>

           
          </div>
         
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="/static/assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="/static/assets/vendors/chart.js/Chart.min.js"></script>
    <script src="/static/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="/static/assets/vendors/flot/jquery.flot.js"></script>
    <script src="/static/assets/vendors/flot/jquery.flot.resize.js"></script>
    <script src="/static/assets/vendors/flot/jquery.flot.categories.js"></script>
    <script src="/static/assets/vendors/flot/jquery.flot.fillbetween.js"></script>
    <script src="/static/assets/vendors/flot/jquery.flot.stack.js"></script>
    <script src="/static/assets/vendors/flot/jquery.flot.pie.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="/static/assets/js/off-canvas.js"></script>
    <script src="/static/assets/js/hoverable-collapse.js"></script>
    <script src="/static/assets/js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="/static/assets/js/dashboard.js"></script>
    <!-- End custom js for this page -->
  </body>
</html>
