<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Haegl InterviewEdge</title>
    <link rel="stylesheet" href="/static/assets/vendors/mdi/css/materialdesignicons.min.css" />
    <link rel="stylesheet" href="/static/assets/vendors/flag-icon-css/css/flag-icon.min.css" />
    <link rel="stylesheet" href="/static/assets/vendors/css/vendor.bundle.base.css" />
    <link rel="stylesheet" href="/static/assets/vendors/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/static/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css" />
    <link rel="stylesheet" href="/static/assets/css/style.css" />
    <link rel="shortcut icon" href="/images/favicon.png" />
  </head>
  <body>
    <div class="container-scroller">
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="text-center sidebar-brand-wrapper d-flex align-items-center">
          <div class="d-flex align-items-center">
            <div style="margin-top: 50px; margin-left: 67px;">
              <img src="/static/assets/images/HAEGL_colour.png" height="50px" width="130px" alt="">
             </div>
    
  </div>
          <a class="sidebar-brand brand-logo-mini pl-4 pt-3" href="index.html"><img src="/static/assets/images/logo-mini.svg" alt="logo" /></a>
        </div>
        <br> <br>
        <ul class="nav">
          <li class="nav-item nav-profile">

          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin_db">
              <i class="mdi mdi-home menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/top_companies">
              <i class="mdi mdi-contacts menu-icon"></i>
              <span class="menu-title">Top Companies</span>
            </a>
          </li>



        </ul>
      </nav>
      <div class="container-fluid page-body-wrapper">
        <div id="theme-settings" class="settings-panel">
          <i class="settings-close mdi mdi-close"></i>
          <p class="settings-heading">SIDEBAR SKINS</p>
          <div class="sidebar-bg-options selected" id="sidebar-default-theme">
            <div class="img-ss rounded-circle bg-light border mr-3"></div> Default
          </div>
          <div class="sidebar-bg-options" id="sidebar-dark-theme">
            <div class="img-ss rounded-circle bg-dark border mr-3"></div> Dark
          </div>
          <p class="settings-heading mt-2">HEADER SKINS</p>
          <div class="color-tiles mx-0 px-4">
            <div class="tiles light"></div>
            <div class="tiles dark"></div>
          </div>
        </div>
        <nav class="navbar col-lg-12 col-12 p-lg-0 fixed-top d-flex flex-row">
          <div class="navbar-menu-wrapper d-flex align-items-stretch justify-content-between">
            <a class="navbar-brand brand-logo-mini align-self-center d-lg-none" href="index.html"><img src="/static/assets/images/logo-mini.svg" alt="logo" /></a>
            <button class="navbar-toggler navbar-toggler align-self-center mr-2" type="button" data-toggle="minimize">
              <i class="mdi mdi-menu"></i>
            </button>
            <ul class="navbar-nav">


              <li class="nav-item nav-search border-0 ml-1 ml-md-3 ml-lg-5 d-none d-md-flex">
                <form class="nav-link form-inline mt-2 mt-md-0">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" />
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="mdi mdi-magnify"></i>
                      </span>
                    </div>
                  </div>
                </form>
              </li>
            </ul>
            <ul class="navbar-nav navbar-nav-right ml-lg-auto">

              <li class="nav-item nav-profile dropdown border-0">
                <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown">
                  <img class="nav-profile-img mr-2" alt="" src="/static/assets/images/user.png" />
                  <span class="profile-name">Admin</span>
                </a>
                <div class="dropdown-menu navbar-dropdown w-100" aria-labelledby="profileDropdown">

                  <a class="dropdown-item" href="/admin_logout">
                    <i class="mdi mdi-logout mr-2 text-primary"></i> Signout </a>
                </div>
              </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
              <span class="mdi mdi-menu"></span>
            </button>
          </div>
        </nav>
        <div class="main-panel">
          <div class="content-wrapper pb-0">
            <div class="page-header flex-wrap">
              <h3 class="mb-0"> Hi, welcome back!
              </h3>
           
            </div>

            <div class="row">
              <div class="col-xl-12 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body px-0 overflow-auto">
                    <h4 class="card-title pl-4">List of Companies</h4>
                    <div class="table-responsive">
                      <table class="table">
                        <thead class="bg-light">
                            <tr>
                                <th>Id</th>
                                <th>Company Name</th>
                                <th>Contact Number</th>
                                <th>Email</th>
                                <th>Address</th>
                                <th>Action</th>
                                <th></th>
                                <th></th> 
                                <!-- New column for Delete button -->
                            </tr>
                        </thead>
                        <tbody>
                            {% for x in data %} 
                            <tr>
                                <td>{{ x.id }}</td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div class="table-user-name ml-3">
                                            <p class="mb-0 font-weight-medium">{{ x.first_name }}</p>
                                        </div>
                                    </div>
                                </td>
                                <td>{{ x.phone_no }}</td>
                                <td>{{ x.email }}</td>
                                <td>{{ x.address }} <br><br>{{ x.city }}</td>
                                <td>
                                    <button class="badge badge-inverse-danger approve-btn" data-user-id="{{ x.id }}" {% if x.status %} disabled {% endif %}>
                                        {% if x.status %} Approved {% else %} Approve {% endif %}
                                    </button>
                                </td>
                                <td>
                                    <!-- Delete button -->
                                    <button class="badge badge-inverse-danger delete-btn" data-user-id="{{ x.id }}">Delete</button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    
                    </div>
                   
                  </div>
                </div>
              </div>

            </div>

           

          </div>
          <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">

            </div>
          </footer>
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
  $(document).ready(function() {
      // Function to handle delete button click
      $(".delete-btn").on("click", function() {
          var userId = $(this).data("user-id");
          
          // Display SweetAlert confirmation dialog
          Swal.fire({
              title: 'Are you sure?',
              text: 'You won\'t be able to revert this!',
              icon: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#d33',
              cancelButtonColor: '#3085d6',
              confirmButtonText: 'Yes, delete it!'
          }).then((result) => {
              // If user confirms deletion
              if (result.isConfirmed) {
                  // Send AJAX request to delete view
                  $.ajax({
                      type: "POST",
                      url: "{% url 'delete_user' %}",  // URL to your delete view
                      data: {
                          'user_id': userId,
                          'csrfmiddlewaretoken': '{{ csrf_token }}'
                      },
                      success: function(response) {
                          // Reload the page or remove the row from the table upon success
                          location.reload();  // Reload page
                      },
                      error: function(error) {
                          console.log("Error occurred:", error);
                      }
                  });
              }
          });
      });
  });
  </script>
  
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="/static/assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="/static/assets/vendors/chart.js/Chart.min.js"></script>
    <script src="/static/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="/static/assets/vendors/flot/jquery.flot.js"></script>
    <script src="/static/assets/vendors/flot/jquery.flot.resize.js"></script>
    <script src="/static/assets/vendors/flot/jquery.flot.categories.js"></script>
    <script src="/static/assets/vendors/flot/jquery.flot.fillbetween.js"></script>
    <script src="/static/assets/vendors/flot/jquery.flot.stack.js"></script>
    <script src="/static/assets/vendors/flot/jquery.flot.pie.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="/static/assets/js/off-canvas.js"></script>
    <script src="/static/assets/js/hoverable-collapse.js"></script>
    <script src="/static/assets/js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="/static/assets/js/dashboard.js"></script>
    <!-- End custom js for this page -->
  </body>
</html>
