<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Haegl InterviewEdge</title>
    <link rel="stylesheet" href="/static/assets/vendors/mdi/css/materialdesignicons.min.css" />
    <link rel="stylesheet" href="/static/assets/vendors/flag-icon-css/css/flag-icon.min.css" />
    <link rel="stylesheet" href="/static/assets/vendors/css/vendor.bundle.base.css" />
    <link rel="stylesheet" href="/static/assets/vendors/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/static/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css" />
    <link rel="stylesheet" href="/static/assets/css/style.css" />
    <link rel="shortcut icon" href="/images/favicon.png" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>




    <style>
        #calendar-container .container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
   
    flex-direction: column;
}

.dot {
                height: 8px;
                width: 8px;
                background-color: black;
                border-radius: 50%;
                display: inline-block;
                margin-left: 2px; /* Adjust as needed */
            }
            .present-day {
            background-color: #ffc107;
            width: 9px;
            height: 7px;
            border-radius: 50%;
            }

#calendar-container .calendar {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    height: 400px;
    border: 2px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#calendar-container .calendar th,
#calendar-container .calendar td {
    margin: 50px;
    padding: 10px;
    text-align: center;
}

#calendar-container .calendar th {
    background-color: #1E88E5;
    color: white;
    font-weight: bold;
    border-bottom: 2px solid #ccc;
    text-transform: uppercase;
}

#calendar-container .calendar td {
    cursor: pointer;
    height: 70px;
}

.scheduled {
    background-color: #f6ebca; /* Example color for scheduled dates */
    /* Add any other styles you want for scheduled dates */
}

#calendar-container .calendar td:hover {
    background-color: #f0f0f0;
}

#calendar-container .calendar td.current-day {
    background-color: #ffc107;
    color: black;
    width: 55px;
    height: 10px;
    border-radius: 100%;
}

#calendar-container .calendar td.sunday {
    color: red;
}

#calendar-container .calendar td.other-month {
    color: #ccc;
}

#calendar-container .month-year-container {
    margin-top: 30px;
    text-align: center;
}

#calendar-container .month-year-container select {
    padding: 5px;
    font-size: 16px;
}
#year-select,
#month-select {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    transition: border-color 0.3s ease;
    
}

#year-select:focus,
#month-select:focus {
    outline: none;
    border-color: dodgerblue;
}

.container1 {
    display: flex;
}

.container1 select {
    flex: 1;
    margin-right: 10px; /* Adjust as needed */
}


.custom-select:focus {
    outline: none;
    border-color: dodgerblue;
}
/* CSS for making the page responsive */
.availability-item {
            background-color: #f8f9fa;
            border: 1px solid #dee2e6;
            border-radius: 5px;
            padding: 10px;
            margin-bottom: 10px;
            /* Add left padding */
            padding-left: 30px;
            margin-right: 50px;
        }

        /* Style for the date */
        .date {
            font-weight: 12px;
            color: #343a40;
            margin-bottom: 5px;
            line-height: 35px;
            
        }

        /* Style for start and end times */
        .time {
          
            color: #6c757d;
            display: block;
        }
/* Adjustments for smaller screens */
@media screen and (max-width: 768px) {
  /* Navbar adjustments */
  .navbar-brand.brand-logo-mini {
    display: none; /* Hide mini logo on smaller screens */
  }
  
  /* Adjust margin for calendar and availability sections */
  #calendar-container,
  #availability-section {
    margin: 10px; /* Adjust margin for smaller screens */
  }
}

/* Adjustments for extra small screens */
@media screen and (max-width: 576px) {
  /* Adjust margin for calendar and availability sections */
  #calendar-container,
  #availability-section {
    margin: 5px; /* Further adjust margin for extra small screens */
  }
}


    </style>
  </head>
  <body>
    <div class="container-scroller">
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="text-center sidebar-brand-wrapper d-flex align-items-center">
          <div class="d-flex align-items-center">
    <img style="margin-right:0;" width="70px" height="80px" src="/static/assets/images/haegl_transparent.png" alt="logo"/>
    <h3 class="mb-0">InterviewEdge</h3>
  </div>
          <a class="sidebar-brand brand-logo-mini pl-4 pt-3" href="index.html"><img src="/static/assets/images/logo-mini.svg" alt="logo" /></a>
        </div>
        <br> <br>
        <ul class="nav">
          <li class="nav-item nav-profile">

          </li>
          <li class="nav-item">
            <a class="nav-link" href="/company_dashboard">
              <i class="mdi mdi-home menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/job_vacancy">
              <i class="mdi mdi-briefcase menu-icon"></i>
              <span class="menu-title">Jobs</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/internship_list">
              <i class="mdi mdi-briefcase-search menu-icon"></i>
              <span class="menu-title">Internship</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/job_applications">
              <i class="mdi mdi-file-document menu-icon"></i>
              <span class="menu-title">Applications</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/company_calendar">
              <i class="mdi mdi-calendar menu-icon"></i>
              <span class="menu-title">Calendar</span>
            </a>
          </li>



        </ul>
      </nav>
      <div class="container-fluid page-body-wrapper">
        <div id="theme-settings" class="settings-panel">
          <i class="settings-close mdi mdi-close"></i>
          <p class="settings-heading">SIDEBAR SKINS</p>
          <div class="sidebar-bg-options selected" id="sidebar-default-theme">
            <div class="img-ss rounded-circle bg-light border mr-3"></div> Default
          </div>
          <div class="sidebar-bg-options" id="sidebar-dark-theme">
            <div class="img-ss rounded-circle bg-dark border mr-3"></div> Dark
          </div>
          <p class="settings-heading mt-2">HEADER SKINS</p>
          <div class="color-tiles mx-0 px-4">
            <div class="tiles light"></div>
            <div class="tiles dark"></div>
          </div>
        </div>
        <nav class="navbar col-lg-12 col-12 p-lg-0 fixed-top d-flex flex-row">
          <div class="navbar-menu-wrapper d-flex align-items-stretch justify-content-between">
            <a class="navbar-brand brand-logo-mini align-self-center d-lg-none" href="index.html"><img src="/static/assets/images/logo-mini.svg" alt="logo" /></a>
            <button class="navbar-toggler navbar-toggler align-self-center mr-2" type="button" data-toggle="minimize">
              <i class="mdi mdi-menu"></i>
            </button>
            <ul class="navbar-nav">
              <li class="nav-item nav-search border-0 ml-1 ml-md-3 ml-lg-5 d-none d-md-flex">
                <form class="nav-link form-inline mt-2 mt-md-0">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" />
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="mdi mdi-magnify"></i>
                      </span>
                    </div>
                  </div>
                </form>
              </li>
            </ul>
            <ul class="navbar-nav navbar-nav-right ml-lg-auto">

              <li class="nav-item nav-profile dropdown border-0">
                <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown">
                  <img class="nav-profile-img mr-2" alt="" src="/static/assets/images/user.png" />
                  <span class="profile-name">{{first_name}}</span>
                </a>
                <div class="dropdown-menu navbar-dropdown w-100" aria-labelledby="profileDropdown">

                  <a class="dropdown-item" href="/company_logout">
                    <i class="mdi mdi-logout mr-2 text-primary"></i> Signout </a>
                </div>
              </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
              <span class="mdi mdi-menu"></span>
            </button>
          </div>
        </nav>



        <div class="main-panel" >
          
            
              
                <div id="calendar-container" style="margin-top: 40px; margin-left: 30px; margin-right: 30px;">
                    <div class="container-fluid">
                        <h3>Calendar</h3>
                        <div class="month-year-container" id="month-year-container" style="margin: 10px;"></div>
                        <table class="calendar" id="calendar-table">
                            <thead id="calendar-head"></thead>
                            <tbody id="calendar-body"></tbody>
                        </table>
                    </div>
                </div>
               
            
        </div>
        
        <!-- Availability Modal -->
       
        
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script>
            const monthYearContainer = document.getElementById('month-year-container');
            const calendarHead = document.getElementById('calendar-head');
            const calendarBody = document.getElementById('calendar-body');
            let scheduledDates = []; // Array to store scheduled interview dates
    
            // Extract scheduled dates from Django template context
            {% for interview in data %}
                scheduledDates.push(new Date('{{ interview.interview_date }}').toISOString().split('T')[0]);
            {% endfor %}
    
            // Function to generate calendar
            function generateCalendar(month, year) {
    calendarHead.innerHTML = '';
    calendarBody.innerHTML = '';
    const daysInMonth = new Date(year, month + 1, 0).getDate();
    const firstDay = new Date(year, month, 1).getDay();

    // Set the days of the week header
    const daysOfWeek = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'];
    const daysRow = document.createElement('tr');
    daysOfWeek.forEach(day => {
        const th = document.createElement('th');
        th.textContent = day;
        daysRow.appendChild(th);
    });
    calendarHead.appendChild(daysRow);

    // Fill in the calendar
   // Fill in the calendar
let date = 1;
for (let i = 0; i < 6; i++) {
    const row = document.createElement('tr');
    for (let j = 0; j < 7; j++) {
        const cell = document.createElement('td');
        if (i === 0 && j < firstDay) {
            // Fill empty cells before the first day of the month
            cell.textContent = '';
            cell.classList.add('other-month');
        } else if (date <= daysInMonth) {
            // Fill cells with dates
            cell.textContent = date;
            const currentDate = new Date(year, month, date);
            const dateString = currentDate.toISOString().split('T')[0];
            if (scheduledDates.includes(dateString)) {
                // Apply class to highlight dates with scheduled interviews
                cell.classList.add('scheduled-interview');
                // Add black dot
                const dot = document.createElement('span');
                dot.classList.add('dot');
                cell.appendChild(dot);
                cell.setAttribute('data-date', dateString);
            }
            if (j === 0) {
                cell.classList.add('sunday');
            }
            if (currentDate.toDateString() === new Date().toDateString()) {
                // Highlight present day
                cell.classList.add('present-day');
            }
            date++;
        } else {
            // Fill empty cells after the end of the month
            cell.textContent = '';
            cell.classList.add('other-month');
        }
        row.appendChild(cell);
    }
    calendarBody.appendChild(row);
}


    // Add click event listener to scheduled dates
    const scheduledCells = document.querySelectorAll('.scheduled-interview');
scheduledCells.forEach(cell => {
    const dateString = cell.getAttribute('data-date');
    cell.addEventListener('click', () => {
        openPopup(dateString);
    });
});
}

    
            // Function to populate month and year select options
            function populateMonthYearSelect() {
                const currentDate = new Date();
                const currentMonth = currentDate.getMonth();
                const currentYear = currentDate.getFullYear();
    
                // Display present month and year
                const presentMonthYear = new Date(currentYear, currentMonth).toLocaleString('en-US', { month: 'long', year: 'numeric' });
    
                // Create month select
                const monthSelect = document.createElement('select');
                monthSelect.id = 'month-select';
                const months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
                months.forEach((month, index) => {
                    const option = document.createElement('option');
                    option.value = index;
                    option.textContent = month;
                    monthSelect.appendChild(option);
                });
                monthSelect.value = currentMonth; // Select current month by default
    
                // Create year select
                const yearSelect = document.createElement('select');
                yearSelect.id = 'year-select';
                for (let year = currentYear - 5; year <= currentYear + 50; year++) {
                    const option = document.createElement('option');
                    option.value = year;
                    option.textContent = year;
                    yearSelect.appendChild(option);
                }
                yearSelect.value = currentYear; // Select current year by default
    
                // Add event listener to update calendar when month or year is changed
                monthSelect.addEventListener('change', updateCalendar);
                yearSelect.addEventListener('change', updateCalendar);
    
                // Add elements to container
                monthYearContainer.appendChild(document.createElement('br')); // Add line break for better spacing
                monthYearContainer.appendChild(monthSelect);
                monthYearContainer.appendChild(yearSelect);
            }
    
            // Function to update calendar when month or year is changed
            function updateCalendar() {
                const selectedMonth = parseInt(document.getElementById('month-select').value);
                const selectedYear = parseInt(document.getElementById('year-select').value);
                generateCalendar(selectedMonth, selectedYear);
            }
    
            // Function to open popup window
           // Function to open popup window
         // Function to open popup window
         
         function openPopup(clickedDate) {
    console.log(clickedDate);
    // Send AJAX request to backend view
    $.ajax({
        url: '/get_scheduled_interviews/',
        method: 'GET',
        data: { date: clickedDate },
        success: function(response) {
            // Display scheduled interviews in modal
            const modalBody = document.querySelector('.modal-body');
            modalBody.innerHTML = ''; // Clear previous content
            
            if (response.interviews.length > 0) {
                response.interviews.forEach(interview => {
                    const interviewItem = document.createElement('div');
                    interviewItem.classList.add('interview-item');

                    const designationLabel = document.createElement('p');
                    designationLabel.textContent = 'Designation: ' + interview.designation;
                    interviewItem.appendChild(designationLabel);

                    const dateLabel = document.createElement('p');
                    dateLabel.textContent = 'Date: ' + interview.date;
                    interviewItem.appendChild(dateLabel);

                    const startTimeLabel = document.createElement('p');
                    startTimeLabel.textContent = 'Start Time: ' + interview.start_time;
                    interviewItem.appendChild(startTimeLabel);

                    const endTimeLabel = document.createElement('p');
                    endTimeLabel.textContent = 'End Time: ' + interview.end_time;
                    interviewItem.appendChild(endTimeLabel);

                    const modeLabel = document.createElement('p');
                    modeLabel.textContent = 'Mode of Interview: ' + interview.mode_of_interview;
                    interviewItem.appendChild(modeLabel);

                    const userLabel = document.createElement('p');
                    userLabel.textContent = 'Candidate: ' + interview.user_name + ' (' + interview.user_email + ')';
                    interviewItem.appendChild(userLabel);

                    const rescheduleButton = document.createElement('button');
                    rescheduleButton.textContent = 'Reschedule';
                    rescheduleButton.classList.add('btn', 'btn-success');
                    rescheduleButton.dataset.scheduledId = interview.scheduled_id; // Add scheduled ID to the button's dataset
                    rescheduleButton.addEventListener('click', function() {
                        // Display the reschedule modal and pass the scheduled ID to it
                        const scheduledId = this.dataset.scheduledId;
                        $('#rescheduleModal').modal('show');
                        // Populate the reschedule form with the corresponding data
                        populateRescheduleForm(interview);
                    });
                    interviewItem.appendChild(rescheduleButton);
                  
                    const hr = document.createElement('hr');
                    interviewItem.appendChild(hr);

                    modalBody.appendChild(interviewItem);
                });
            } else {
                const noInterviewsMessage = document.createElement('p');
                noInterviewsMessage.textContent = 'No interviews scheduled for this date.';
                modalBody.appendChild(noInterviewsMessage);
            }

            // Display modal
            $('#myModal').modal('show');
        },
        error: function(xhr, status, error) {
            console.error('Error:', error);
        }
    });
}

function populateRescheduleForm(interview) {
    // Populate the reschedule form fields with the corresponding data
    document.getElementById('designationInput').value = interview.designation;
    document.getElementById('dateInput').value = interview.date;
    document.getElementById('startTimeInput').value = interview.start_time;
    document.getElementById('endTimeInput').value = interview.end_time;
    document.getElementById('modeInput').value = interview.mode_of_interview;
    // Set the scheduled ID as a hidden input value
    document.getElementById('scheduledIdInput').value = interview.scheduled_id;

     // Set the form action dynamically
    const rescheduleForm = document.getElementById('rescheduleForm');
    rescheduleForm.action = `/reschedule_interview/${interview.scheduled_id}/`; // Replace '/reschedule_interview/' with your actual URL pattern
}



            // Initial call to populate month and year select options and generate calendar for the current month and year
            populateMonthYearSelect();
            const currentDate = new Date();
            generateCalendar(currentDate.getMonth(), currentDate.getFullYear());
        </script>

<!-- Bootstrap Modal -->
<div id="myModal" class="modal fade">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Scheduled Interviews</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div id="modal-content"></div>
            </div>
        </div>
    </div>
</div>

<div id="rescheduleModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="rescheduleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="rescheduleModalLabel">Reschedule Interview</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="rescheduleForm" method="post" >
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="designation">Designation</label>
                        <input type="text" disabled class="form-control" id="designationInput" name="designation" required>
                    </div>
                    <div class="form-group">
                        <label for="date">Date</label>
                        <input type="date" class="form-control" id="dateInput" name="new_date" required>
                    </div>
                    <div class="form-group">
                        <label for="startTime">Start Time</label>
                        <input type="time" class="form-control" id="startTimeInput" name="new_start_time" required>
                    </div>
                    <div class="form-group">
                        <label for="endTime">End Time</label>
                        <input type="time" class="form-control" id="endTimeInput" name="new_end_time" required>
                    </div>
                    <div class="form-group">
                        <label for="mode">Mode of Interview</label>
                        <input type="text" class="form-control" id="modeInput" name="new_mode_of_interview" required>
                    </div>
                    <input type="text" id="scheduledIdInput" hidden>
                    <button type="submit" class="btn btn-secondary">Reschedule</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const rescheduleForm = document.getElementById('rescheduleForm');
    
    // Prevent default form submission
    rescheduleForm.addEventListener('submit', function(event) {
        event.preventDefault();
        
        // Collect form data
        const formData = new FormData(rescheduleForm);
        
        // Send AJAX request
        fetch(rescheduleForm.action, {
            method: 'POST',
            body: formData,
            headers: {
                'X-Requested-With': 'XMLHttpRequest', // Add this header for Django to detect AJAX request
                'X-CSRFToken': '{{ csrf_token }}' // Include CSRF token
            }
        })
        .then(response => response.json())
        .then(data => {
            // Display response message
            alert(data.message);
            
            // Close the modal if the submission was successful
            if (data.status === 'success') {
                $('#rescheduleModal').modal('hide');
                // Close all modals
                $('.modal').modal('hide');
                // Reload the page after the alert is closed
                $(document).on('hidden.bs.modal', '.modal', function () {
                    location.reload();
                });
            }
        })
        .catch(error => console.error('Error:', error));
    });
});

</script>

        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="/static/assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="/static/assets/vendors/chart.js/Chart.min.js"></script>
    <script src="/static/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="/static/assets/vendors/flot/jquery.flot.js"></script>
    <script src="/static/assets/vendors/flot/jquery.flot.resize.js"></script>
    <script src="/static/assets/vendors/flot/jquery.flot.categories.js"></script>
    <script src="/static/assets/vendors/flot/jquery.flot.fillbetween.js"></script>
    <script src="/static/assets/vendors/flot/jquery.flot.stack.js"></script>
    <script src="/static/assets/vendors/flot/jquery.flot.pie.js"></script>
    
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="/static/assets/js/off-canvas.js"></script>
    <script src="/static/assets/js/hoverable-collapse.js"></script>
    <script src="/static/assets/js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="/static/assets/js/dashboard.js"></script>
    <!-- End custom js for this page -->
  </body>
</html>
