<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>Haegl InterviewEdge</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">

        <!-- Google Web Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@600;800&display=swap" rel="stylesheet"> 

        <!-- Icon Font Stylesheet -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

        <!-- Libraries Stylesheet -->
        <link href="/static/new_landing/lib/lightbox/css/lightbox.min.css" rel="stylesheet">
        <link href="/static/new_landing/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
<!--custom font-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Stoke:wght@300;400&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Stoke:wght@300;400&display=swap" rel="stylesheet">

        <!-- Customized Bootstrap Stylesheet -->
        <link href="/static/new_landing/css/bootstrap.min.css" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="/static/new_landing/css/style.css" rel="stylesheet">
        <link href="/static/new_landing/css/custom.css" rel="stylesheet">

        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

        <style>
      .testimonial-item {
            transition: box-shadow 0.3s ease-in-out;
        }
        .bg-danger{
            background-color: #fc081f !important;
        }
        .testimonial-item:hover {
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
        }

        .featurs {
    margin: 0 40px; /* Left and right margin of 40px */
    max-width: calc(100% - 80px); /* Adjusted width to account for margins */
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

/* Adjust the card width to fit within the column */
.featurs-card {
    width: 100%; /* Ensure cards fill the column width */
}

/* Adjust margin between rows */
.mb-4 {
    margin-bottom: 20px; /* Add space between rows */
}

/* Adjust padding within columns for smaller screens */
@media (max-width: 767px) {
    .col-md-5, .col-md-7 {
        padding: 0; /* Remove padding for smaller screens */
        margin: 0 10px; /* Adjust margin for smaller screens */
    }
  
}
@media (max-width: 767px) {
    .col-md-5 {
        border-right: none; /* Remove right border for mobile screens */
        border-left: none; /* Remove left border for mobile screens */
    }
}

        </style>
    </head>

    <body>

       


        <!-- Navbar start -->
        
        <div class="container-fluid fixed-top">
            <div class="topnav">
            <div class=" topbar bg-danger d-none d-lg-block" >
                <div class="d-flex justify-content-between">
                    <div class="top-link ps-2">
                        
                    </div>
                    <div id="top-link" style="align-items: center;" class="top-link pe-5">
                        <small  class=" me-3 "><i class="fas fa-phone me-2" style="color: white;"></i> <a href="#" class="text-white">+91 7676348382</a></small>
                        <small  class=" me-3"><i class="fas fa-envelope me-2" style="color: white;"></i><a href="#" class="text-white">info@haegl.in</a></small>
                    </div>     
                </div>
            </div>
        </div>
            <div class="container px-0">
                <nav class="navbar navbar-light bg-white navbar-expand-xl">
                    <a href="/" class="navbar-brand">
                        <img src="/static/new_landing/img/HAEGL_colour.png" width="200px" height="90px">
                    </a>
                    <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                        <span class="fa fa-bars text-primary"></span>
                    </button>
                    <div class="collapse navbar-collapse bg-white" id="navbarCollapse">
                        <div class="navbar-nav mx-auto">
                           
                            
                          
                        </div>
                        <div class="d-flex m-3 me-0">
                            <div class="navbar-nav mx-auto">
                            <a href="/" class="nav-item nav-link active">Home</a>
                            <a href="internship_program" class="nav-item nav-link">Internship Program</a>
                            <a href="/all_jobs" class="nav-item nav-link">Jobs</a>
                            <a href="/select_theme" class="nav-item nav-link">Build Resume</a>
                            <a href="/contact_us" class="nav-item nav-link">Contact us</a>
                            <a href="user_registration" style="margin-top: 4px;">  <div class="text-white bg-danger px-3 py-1 rounded" style="top: 12px; right: 10px;">Register</div></a>
                           </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <!-- Navbar End -->


        <!-- Modal Search Start -->
        <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-fullscreen">
                <div class="modal-content rounded-0">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Search by keyword</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body d-flex align-items-center">
                        <div class="input-group w-75 mx-auto d-flex">
                            <input type="search" class="form-control p-3" placeholder="keywords" aria-describedby="search-icon-1">
                            <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Search End -->


        <!-- Hero Start -->
        <div class="container-fluid py-5 mb-5 hero-header">
            <div class="container py-5">
                <div class="row g-5 align-items-center">
                    <div class="col-md-12 col-lg-7">
                        <h2 class="mb-5 display-3 hero-heading text-primary">HAEGL, Where Dreams Meet Opportunities
                        </h2>
                    
                        <p class="mb-3 para">At HAEGL, we believe in bridging the gap between aspiring talents and their dream careers. We specialize in connecting ambitious individuals with dynamic organizations, fostering growth and mutual success.
                        </p><br>
                            <div class="d-flex m-3 me-0">
                           
                                <a href="user_registration" class="my-auto">   <div class="text-white bg-danger px-3 py-1 rounded" style="top: 10px; right: 10px;">Get started</div></a>
                               
                            </div>
                    </div>
                    
                    <div class="col-md-12 col-lg-5">
                        <div id="carouselId" class="carousel slide position-relative" data-bs-ride="carousel">
                            <div class="carousel-inner" role="listbox">
                                <div class="carousel-item active rounded">
                                    <img src="/static/new_landing/img/hero4.jpg" class="img-fluid w-100 h-100 bg-secondary rounded" alt="First slide">
                                    
                                </div>
                                <div class="carousel-item rounded">
                                    <img src="/static/new_landing/img/bg4.jpg" class="img-fluid w-100 h-100 rounded" alt="Second slide">
                                   
                                </div>
                            </div>
                           
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>


        

        <!-- Hero End -->
        <div class="container-fluid">
            <div class="container">
                <span class="center clients-heading">Our Happy and Growing Clients</span><br>
                <div class="image-container">
                    <img src="/static/new_landing/img/gurukul.png" alt="Image 1">
                    <img src="/static/new_landing/img/krish.png" alt="Image 2">
                    <img src="/static/new_landing/img/kvblogo.png" alt="Image 3">
                    <img src="/static/new_landing/img/sennt.png" alt="Image 2">
                    <img src="/static/new_landing/img/recruitintell.png" width="160px" height="50px" alt="Image 3">
                    <img src="/static/new_landing/img/meritude.png" alt="Image 3">
                    <img src="/static/new_landing/img/sorp.png" alt="Image 3">
                    
                    <img src="/static/new_landing/img/cloud.png" width="200px" alt="Image 3">
                    <!-- Add more images as needed -->
                </div>
            </div>
        </div>


       
<div class="container-fluid testimonial banner bg-secondary py-1 mt-5">
    <div class="container py-5">
        <div class="testimonial-header text-start">
            <h2 class="mb-0 display-3 why-heading">What We Offer</h2> <br>
            <p class="mb-3 subtag"><b>Empowering Futures, Building Careers: Discover, Connect, Succeed.</b></p>
        </div> <br>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-5" >
                    <div class="testimonial-item img-border-radius bg-light rounded p-4 mb-4" style="height:320px;">
                        <div class="position-relative">
                            <div class="mb-4 pb-4 border-bottom border-secondary">
                                <p class="mb-0 text-center service-text" style="font-size: 28px; font-weight: 500px; color: #747d88;"><strong>Internship Opportunities</strong></p>
                            </div>
                            <div class="d-flex align-items-center flex-nowrap">
                                <div class="ms-4 d-block">
                                    <p class="m-0 pb-3" style="text-align: justify;">We understand the importance of hands-on experience in shaping future careers. Our extensive network of partner companies offers a wide range of internship opportunities across various industries and fields, providing invaluable real-world learning experiences.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="testimonial-item img-border-radius bg-light rounded p-4 mb-4" style="height:320px;">
                        <div class="position-relative">
                            <div class="mb-4 pb-4 border-bottom border-secondary">
                                <p class="mb-0 text-center service-text" style="font-size: 28px; font-weight: 500px; color: #747d88;"><strong>Recruitment Services</strong></p>
                            </div>
                            <div class="d-flex align-items-center flex-nowrap">
                                <div class="ms-4 d-block">
                                    <p class="m-0 pb-3"  style="text-align: justify;">For businesses seeking top-tier talent, we offer comprehensive recruitment services tailored to their specific needs. From sourcing candidates to conducting interviews and negotiating offers, we streamline the hiring process, ensuring a perfect match for both parties.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="row justify-content-center">
                <div class="col-md-5">
                    <div class="testimonial-item img-border-radius bg-light rounded p-4 mb-4" style="height:320px;">
                        <div class="position-relative">
                            <div class="mb-4 pb-4 border-bottom border-secondary">
                                <p class="mb-0 text-center service-text" style="font-size: 28px; font-weight: 500px; color: #747d88;"><strong>Career Development</strong></p>
                            </div>
                            <div class="d-flex align-items-center flex-nowrap">
                                <div class="ms-4 d-block">
                                    <p class="m-0 pb-3"  style="text-align: justify;">Beyond placements, we are committed to nurturing talent through continuous support and guidance. Our career development resources provide valuable insights, tips, and tools to help individuals thrive in their professional journeys.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Add more testimonial items as needed -->

                <div class="col-md-5">
                    <div class="testimonial-item img-border-radius bg-light rounded p-4 mb-4" style="height:320px;">
                        <div class="position-relative">
                            <div class="mb-4 pb-4 border-bottom border-secondary">
                                <p class="mb-0 text-center service-text" style="font-size: 28px; font-weight: 500px; color: #747d88;"><strong>Professional Training Programs</strong></p>
                            </div>
                            <div class="d-flex align-items-center flex-nowrap">
                                <div class="ms-4 d-block">
                                    <p class="m-0 pb-3"  style="text-align: justify;">These training initiatives are led by seasoned industry experts and incorporate hands-on learning experiences, practical projects, and mentorship opportunities. Participants not only gain valuable insights into industry best practices but also build a robust professional network.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        


    </div>

</div>

        
        <!-- Vesitable Shop Start-->
<div class="container-fluid vesitable py-0">
    <div class="container py-5">
        <h3 class="mb-0 display-3 why-heading">Latest Job Opportunities</h3><br>
        <div class="owl-carousel vegetable-carousel justify-content-center">
            {% for x in recent_jobs %}
            <div class="border border-secondary rounded position-relative vesitable-item">
                <div class="vesitable-img">
                    <img src="/{{x.company_id.profile}}" width="10px" class="img-fluid w-100 rounded-top" alt="">
                </div>
                
               
                <div class="p-4 rounded-bottom">
                    <h6 id="designation">{{x.designation}}</h6>
                    <div>
                        <p class="inline-p"><i class="fas fa-map-marker-alt"></i> {{x.location}}</p>
                        <p class="inline-p"><i class="fas fa-briefcase"></i> {{x.job_type}}</p>
                    </div>
                    <p>
                        {% if x.days_since_posted == 0 %}
                            Posted today
                        {% else %}
                            Posted {{x.days_since_posted}} ago
                        {% endif %}
                    </p>
                   
                </div>
                
            </div>

            {% endfor %}
            
            
        </div>
    </div>
</div>

<!-- Vesitable Shop End -->

<!-- Bestsaler Product Start -->
<div class="container-fluid mb-5">
    <div class="container ">
        <div class="text-start mb-5" >
            <h3 class="mb-0 display-3 why-heading">Browse by category</h3><br>
            <p class="mb-3 subtag"><b>Looking for work? Browse jobs</b></p>
        </div>
        
        <div class="row g-4">
           
            <div class="col-lg-4 col-xl-3">
                <div class="image-container">
                    <div class="p-2 rounded shadow hover-effect" style="background-color: white;">
                        <div class="row align-items-center">
                            <div class="col-4">
                                <div>
                                    <img src="/static/new_landing/img/devlopment.png" class="img-fluid rounded-circle w-100" alt="">
                                </div>
                            </div>
                            <div class="col-8">
                                <a href="{% url 'all_jobs_with_category' category='Development+and+IT' %}" class="h6">Development and IT</a>

 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
            <div class="col-lg-4 col-xl-3">
                <div class="image-container">
                <div class="p-2 rounded shadow hover-effect" style="background-color: white;">
                    <div class="row align-items-center">
                        <div class="col-4">
                            <div >
                                <img src="/static/new_landing/img/creative.png" class="img-fluid rounded-circle w-100" alt="">
                            </div>
                        </div>
                        <div class="col-8">
                            <a href="{% url 'all_jobs_with_category' category='Design+and+Creative' %}" class="h6">Design and Creative</a>
                           
                        </div>
                    </div>
                </div> </div>
            </div>
            <div class="col-lg-4 col-xl-3">
                <div class="image-container">
                <div class="p-2 rounded shadow hover-effect" style="background-color: white;">
                    <div class="row align-items-center">
                        <div class="col-4">
                            <div>
                                <img src="/static/new_landing/img/sales.png" class="img-fluid rounded-circle w-100" alt="">
                            </div>
                        </div>
                        <div class="col-8">
                            <a href="{% url 'all_jobs_with_category' category='Sales+and+Marketing' %}" class="h6">Sales and Marketing</a>
                          
                        </div>
                    </div>
                </div></div>
            </div>
            <div class="col-lg-4 col-xl-3">
                <div class="image-container">
                <div class="p-2 rounded shadow hover-effect" style="background-color: white;">
                    <div class="row align-items-center">
                        <div class="col-4">
                            <div >
                                <img src="/static/new_landing/img/customer.png" class="img-fluid rounded-circle w-100" alt="">
                            </div>
                        </div>
                        <div class="col-8">
                            <a href="{% url 'all_jobs_with_category' category='Customer+Support' %}" class="h6">Customer Support</a>
                          
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-lg-4 col-xl-3">
                <div class="image-container">
                <div class="p-2 rounded shadow hover-effect" style="background-color: white;">
                    <div class="row align-items-center">
                        <div class="col-4">
                            <div >
                                <img src="/static/new_landing/img/finance.png" class="img-fluid rounded-circle w-100" alt="">
                            </div>
                        </div>
                        <div class="col-8">
                            <a href="{% url 'all_jobs_with_category' category='Accounting' %}" class="h6">Accounting</a>
                           
                        </div>
                    </div>
                </div></div>
            </div>
            <div class="col-lg-4 col-xl-3">
                <div class="image-container">
                <div class="p-2 rounded shadow hover-effect" style="background-color: white;">
                    <div class="row align-items-center">
                        <div class="col-4">
                            <div>
                                <img src="/static/new_landing/img/engineering.png" class="img-fluid rounded-circle w-100" alt="">
                            </div>
                        </div>
                        <div class="col-8">
                            <a href="{% url 'all_jobs_with_category' category='Engineering' %}" class="h6">Engineering</a>
                            
                        </div>
                    </div>
                </div></div>
            </div>
            <div class="col-lg-4 col-xl-3">
                <div class="image-container">
                    <div class="p-2 rounded shadow hover-effect" style="background-color: white;">
                        <div class="row align-items-center">
                            <div class="col-4">
                                <img src="/static/new_landing/img/legal.png" class="img-fluid rounded-circle w-100" alt="">
                            </div>
                            <div class="col-8 pl-0">
                                <a href="{% url 'all_jobs_with_category' category='Legal' %}" class="h6">Legal</a>
                                <!-- Adjust the margin as needed -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
          
            <div class="col-lg-4 col-xl-3">
                <div class="image-container">
                <div class="p-2 rounded shadow hover-effect" style="background-color: white;">
                    <div class="row align-items-center">
                        <div class="col-4">
                            <img src="/static/new_landing/img/medical.png" class="img-fluid rounded-circle w-100" alt="">
                        </div>
                        <div class="col-8">
                            <a href="{% url 'all_jobs_with_category' category='Medical' %}" class="h6">Medical</a>
                           
                        </div>
                    </div>
                </div></div>
            </div>
         
        </div>
    </div>
</div>
<!-- Bestsaler Product End -->

      
        

        <!-- Featurs Section Start -->
        
        <div class="container-fluid featurs py-5">
            <div class="text-center mb-5">
                <h4 class="mb-0 display-3 why-heading">Why Interview Edge</h4>
                <p class="mb-3 subtag"><b>We understand the importance of finding the perfect job that aligns with your skills</b></p>
            </div>
            <div class="row">
                <div class="col-md-5 col-sm-12 ">
                    <!-- Content for the left column -->
                    <div class="card h-100">
                        <div class="card-body d-flex flex-column justify-content-between">
                            <div>
                                <h5 class="mb-0 display-3 why-subheading">Try exploring MAANG companies. 🚀</h5>
                                <span class="mb-3 subtag d-block">500+ students from 25+ colleges have trusted us.</span>
                            </div>
                            <img src="/static/new_landing/img/maan.gif" class="mx-auto d-block mb-3 img-fluid" width="320px" height="256px" alt="">
                        </div>
                    </div>
                </div>
                
                
                
                
                <div class="col-md-7">
                    <div class="row mb-4">
                        <div class="col-md-6">
                            <div class="featurs-item text-center rounded p-4 featurs-card h-100" style="background: linear-gradient(to right, #efeff61a, #0225611a);">
                                <div class="featurs-content text-center">
                                    <img src="/static/new_landing/img/datas.png" class="mx-auto d-block mb-3" height="80px" width="120px" alt="">
                                    <h6>Mastering Data Structures for Efficient Problem-Solving</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="featurs-item text-center rounded p-4 featurs-card h-100" style="background: linear-gradient(to right, #efeff61a, #0225611a);">
                                <div class="featurs-content text-center">
                                    <img src="/static/new_landing/img/algo.png" class="mx-auto d-block mb-3" height="80px" width="120px" alt="">
                                    <h6>Delve Deep into Algorithms for Precision and Efficiency</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-6">
                            <div class="featurs-item text-center rounded p-4 featurs-card h-100" style="background: linear-gradient(to right, #efeff61a, #0225611a);">
                                <div class="featurs-content text-center">
                                    <img src="/static/new_landing/img/oops.png" class="mx-auto d-block mb-3" height="80px" width="120px" alt="">
                                    <h6>Unleashing the Power of Object-Oriented Programming Principles</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="featurs-item text-center rounded p-4 featurs-card h-100" style="background: linear-gradient(to right, #efeff61a, #0225611a);">
                                <div class="featurs-content text-center">
                                    <img src="/static/new_landing/img/database.png" class="mx-auto d-block mb-3" height="80px" width="120px" alt="">
                                    <h6>Navigating the World of Database Management with Ease</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        
        <script>
            document.addEventListener('DOMContentLoaded', function () {
    window.addEventListener('scroll', function () {
        var element = document.querySelector('.fade-left');
        var position = element.getBoundingClientRect().top;
        var screenPosition = window.innerHeight / 1.3; // Adjust this value as needed

        if (position < screenPosition) {
            element.classList.add('fade-in');
        }
    });
});

        </script>
        <div class="p-5 bg-light rounded">
            <div class="row g-4 justify-content-center">
                <div class="col-12">
                    <div class="text-center mx-auto" style="max-width: 700px;">
                        <h1 class="mb-0 display-3 why-heading">Get in touch</h1><br>
                        <p class="mb-3 subtag"><b>Need support with our services? Get in touch with our dedicated support team.</b></p>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="h-100 rounded">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2441.18276905737!2d75.12180234143027!3d15.362550581260546!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1711079957037!5m2!1sen!2sin" width="490" height="420" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
                <div class="col-lg-5 justify-content-center">
                    <form method="post" class="border rounded p-4">
                        {% csrf_token %}
                        <input type="text" required class="w-100 form-control border-0 py-3 mb-4" placeholder="Your Name" name="name">
                        <input type="email"required class="w-100 form-control border-0 py-3 mb-4" placeholder="Enter Your Email" name="email">
                        <textarea required class="w-100 form-control border-0 mb-4" rows="5" cols="10" placeholder="Your Message" name="message"></textarea>
                        <button class="text-white bg-danger px-3 py-1 rounded" type="submit" style="border: none;">Submit</button>

                    </form>
                </div>
              
            </div>
        </div>
        
        <!-- Featurs Section End -->

        <!-- Footer Start -->
        <div class="container-fluid bg-dark text-white-50 footer pt-1 mt-1">
            <div class="container py-5">
              
                <div class="row g-5">
                    <div class="col-lg-4 col-md-6">
                        <div class="footer-item">
                            <h4 class="text-light mb-3">HAEGL PVT LTD</h4>
                            <p class="mb-4" >HAEGL Interview Egde is an innovative platform revolutionizing the recruitment landscape. Designed to streamline the hiring process for companies, and job seekers. </p>
                            
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6">
                        <div class="d-flex flex-column text-start footer-item">
                            <h4 class="text-light mb-3">Pages</h4>
                            <a class="btn-link" href="/">Home</a>
                            <a class="btn-link" href="/user_registration">Register</a>
                            
                            <a class="btn-link" href="/internship_program">Internship Program</a>
                            <a class="btn-link" href="/contact_us">Contact Us</a>
                            <a class="btn-link" href="/all_jobs">Jobs</a>
                           
                            
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="d-flex flex-column text-start footer-item">
                            <h4 class="text-light mb-3">Contact</h4>
                            <a class="btn-link" href="">+91 7676348382</a>
                            <a class="btn-link" href="">info@haegl.in</a>
                            
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-item">
                            <h4 class="text-light mb-3">Address</h4>
                            <p class="mb-4">HAEGL TECHNOLOGIES PVT LTD, 1st Floor, AKALWADI MANSION, Vidyanagar, Hubballi, Karnataka 580021</p>
                           
                            <img src="img/payment.png" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>

                <div class="pb-4 mb-4" style="border-bottom: 1px solid rgba(226, 175, 24, 0.5) ;">
                    <div class="row g-4">
                        <div class="col-lg-3">
                            
                        </div>
                        <div class="col-lg-6">
                         
                        </div>
                        <div class="col-lg-3">
                            <div class="d-flex justify-content-end pt-3">
                               
                                <a class="btn btn-outline-secondary me-2 btn-md-square rounded-circle" target="_blank" href="https://www.facebook.com/haegltechnologies/"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-outline-secondary me-2 btn-md-square rounded-circle" href="https://www.instagram.com/haegltechnologies/" target="_blank"><i class="fab fa-instagram"></i></a>
                                <a class="btn btn-outline-secondary btn-md-square rounded-circle" href="https://www.linkedin.com/company/haegl-technologies-pvt-ltd/mycompany/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->

        <div class="container-fluid copyright bg-dark py-4" style="margin-top: 0px;">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        <span class="text-light"><i class="fas fa-copyright text-light me-2"> 2024</i><a href="#" style="color:white;">placements.haegl.in
                                </a>. All right reserved</span>
                    </div>
                 
                </div>
            </div>
        </div>

      
     



        <!-- Back to Top -->
        <a href="#" class="btn bg-danger  rounded-circle back-to-top"><i style="color: white;" class="fa fa-arrow-up"></i></a>    

        
    <!-- JavaScript Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/static/new_landing/lib/easing/easing.min.js"></script>
    <script src="/static/new_landing/lib/waypoints/waypoints.min.js"></script>
    <script src="/static/new_landing/lib/lightbox/js/lightbox.min.js"></script>
    <script src="/static/new_landing/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="/static/new_landing/js/main.js"></script>
    </body>

</html>