<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>Haegl InterviewEdge</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">

        <!-- Google Web Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@600;800&display=swap" rel="stylesheet"> 

        <!-- Icon Font Stylesheet -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

        <!-- Libraries Stylesheet -->
        <link href="/static/new_landing/lib/lightbox/css/lightbox.min.css" rel="stylesheet">
        <link href="/static/new_landing/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">


        <!-- Customized Bootstrap Stylesheet -->
        <link href="/static/new_landing/css/bootstrap.min.css" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="/static/new_landing/css/style.css" rel="stylesheet">
        <link rel="stylesheet" href="/static/new_landing/css/new_style.css">
        <link rel="stylesheet" href="/static/new_landing/css/custom.css">


		
        <style>
            .job-details {
    display: flex;
    align-items: center;
  
}

.job-details p {
    margin-right: 10px;
}

.job-details i {
    margin-right: 5px;
}
.profile-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.profile-content {
    display: flex;
    align-items: center;
}

.profile-details {
    text-align: left; /* Align text to the left */
}

.profile-image {
    width: 170px; /* Adjust size as needed */
    height: 170px; /* Adjust size as needed */
    border-radius: 50%; /* To make it circular */
    margin-left: 0px; /* Add space between the text and image */
    margin-right: 40px; /* Adjust the margin to move the image to the right */
    border: 4px solid #fff; /* Add a white border around the image */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow effect */
    object-fit: cover;
}


.subtag {
    text-align: center; /* Align the "Join us on the pathway to success!" text to the center */
}

/* Profile Image Preview */
.image-preview {
    width: 150px;
    height: 150px;
    border: 1px solid #ccc;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
}

.image-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Form Fields */
.form-item {
    margin-bottom: 20px;
}

.form-label {
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Button */

button[type="submit"] {
  width: 40%;
  background-color:#fc081f ;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
  
}

button[type="submit"]:hover {
 
  color: black;
}
.profile-icon {
    font-size: 24px; /* Adjust the size of the icon */
    color: #007bff; /* Change the color of the icon */
}


        </style>
    </head>

    <body>

        <!-- Spinner Start -->
        <div id="spinner" class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50  d-flex align-items-center justify-content-center">
            <div class="spinner-grow text-primary" role="status"></div>
        </div>
        <!-- Spinner End -->


        <!-- Navbar start -->
        <div class="container-fluid fixed-top">
            <div class="topnav" >
                <div class="topbar bg-danger d-none d-lg-block" >
                    <div class="d-flex justify-content-between">
                        <div class="top-link ps-2">
                            
                        </div>
                        <div id="top-link" style="align-items: center;" class="top-link pe-5">
                            <small  class=" me-3 "><i class="fas fa-phone me-2" style="color: white;"></i> <a href="#" class="text-white">+91 7676348382</a></small>
                            <small  class=" me-3"><i class="fas fa-envelope me-2" style="color: white;"></i><a href="#" class="text-white">info@haegl.in</a></small>                 
                            <small  class=" me-1"><i class="fab fa-instagram me-2" style="color: white;"><a href="#" class="text-white"></a></i></small>
                            <small  class=" me-1"><i class="fab fa-facebook-f me-2" style="color: white;"><a href="#" class="text-white"></a></i></small>
                             <small  class=" me-1"><i class="fab fa-linkedin-in me-2" style="color: white;"><a href="#" class="text-white"></a></i></small>
                           
                        </div>     
                    </div>
                </div>
            </div>
           
            <div class="container px-0">
                <nav class="navbar navbar-light bg-white navbar-expand-xl">
                    <a href="/" class="navbar-brand">
                        <img src="/static/new_landing/img/HAEGL_colour.png" width="200px" height="90px">
                    </a>
                    <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                        <span class="fa fa-bars text-primary"></span>
                    </button>
                    <div class="collapse navbar-collapse bg-white" id="navbarCollapse">
                        <div class="navbar-nav mx-auto">
                           
                          
                        </div>
                        <div class="d-flex m-3 me-0">
                            <div class="navbar-nav mx-auto">
                                <a href="/" class="nav-item nav-link ">Home</a>
                                <a href="/user_internship_program" class="nav-item nav-link">Internship Program</a>
                                <a href="/jobs" class="nav-item nav-link ">Jobs</a>
                                <a href="/user_select_theme" class="nav-item nav-link">Build Resume</a>
                                <a href="/calendar" class="nav-item nav-link ">Calendar</a>
                               
                            <ul class="navbar-nav ml-auto mt-10">
                              <li class="nav-item dropdown dropdown-slide @@dashboard">
                                  <a class="nav-link " data-toggle="dropdown" href="#!">
                                      <i class="fa fa-user"></i> <span><i class="fa fa-angle-down"></i></span>
                                  </a>
                                  <!-- Dropdown list -->
                                  <ul class="dropdown-menu">
                                      <li><a class="dropdown-item @@dashboardPage" href="/profile">Profile</a></li>
                                      <li><a class="dropdown-item @@dashboardMyAds" href="/user_logout">Logout</a></li>
                                  </ul>
                              </li>
                          </ul>
                          
                           </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <!-- Navbar End -->


        <!-- Modal Search Start -->
        <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-fullscreen">
                <div class="modal-content rounded-0">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Search by keyword</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body d-flex align-items-center">
                        <div class="input-group w-75 mx-auto d-flex">
                            <input type="search" class="form-control p-3" placeholder="keywords" aria-describedby="search-icon-1">
                            <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Search End -->


        <!-- Single Page Header start -->
       <!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-8 text-center">
            <div class="profile-section">
                <div class="profile-content">
                    <img src="{{obj.profile}}"  class="profile-image">
                    <div class="profile-details">
                        <p class="mb-2 display-3 hero-heading text-primary" style="font-size: 24px;">{{obj.first_name}} {{obj.last_name}}</p><br>
						<h5>Edit profile</h5>
						<p >{{data.about}}</p>
						<br>
						<p style="line-height: 1px;"><b>Skills : </b>{{data.skills}}</p><br>
						<p style="line-height: 1px;"><b>LinkedIn : </b><a target="_blank" href="{{obj.linkedin}}">{{obj.linkedin}}</a></p>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</div>

        <!-- Single Page Header End -->


        <!-- Fruits Shop Start-->
		<div class="container-fluid py-5">
			<div class="container py-3">
				<h3 class="mb-4">Edit Personal Information</h3>
				<br><br>
				<form method="post" enctype="multipart/form-data">
					{% csrf_token %}
					<div class="row g-5">
						<div class="col-md-12 col-lg-6">
							<div class="row g-3">
								<div class="col-md-6">
									<div class="form-item">
										<label class="form-label">First Name</label>
										<input type="text" name="first_name" value="{{obj.first_name}}"class="form-control">
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-item">
										<label class="form-label">Last Name</label>
										<input type="text" name="last_name" value="{{obj.last_name}}" class="form-control">
									</div>
								</div>
								<div class="col-12">
									<div class="form-item">
										<label class="form-label">Qualification</label>
										<input  name="qualification" type="text" value="{{data.qualification}}"  class="form-control">
									</div>
								</div>
                                <div class="col-12">
                                    <div class="form-item">
                                        <label class="form-label">LinkedIn Url</label>
                                        <input name="linkedin" id="linkedinUrl" type="url" value="{{obj.linkedin}}" class="form-control" >
                                       
                                    </div>
                                </div>
								<div class="col-md-6">
									<div class="form-item">
										<label class="form-label">Experience</label>
										<input type="text"  name="experience" value="{{data.experience}}" class="form-control" placeholder="experience">
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-item">
										<label class="form-label">Email</label>
										<input type="text"  name="email" value="{{obj.email}}" class="form-control">
									</div>
								</div>
								
								<div class="col-md-6">
									<div class="form-item">
										<label class="form-label">City</label>
										<input type="text" name="city" value="{{obj.city}}" class="form-control">
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-item">
										<label class="form-label">Country</label>
										<input type="text"name="country" value="{{obj.country}}" class="form-control">
									</div>
								</div>
								
								
							</div>
						</div>
						<br><br>
						<div class="col-md-12 col-lg-6">
							<div class="form-group choose-file d-inline-flex align-items-center">
								<i class="fa fa-user text-center px-3 profile-icon"></i>
								<input type="file" value="{{obj.profile}}" name="profile" class="form-control-file mt-2 pt-1" id="input-file">
							</div>
							
							<br><br>
							<div class="form-item">
								<label class="form-label">Add Skills</label>
								<textarea name="skills"  class="form-control" spellcheck="false" cols="30" rows="5" >{{data.skills}}</textarea>
							</div>
<br>
						
							<div class="text-center" >
								<button type="submit">Save My Changes</button>
    
							</div>
						</div>
						
					</div>
					<div class="row g-4 text-center align-items-center justify-content-center pt-4">
						
					</div>
				</form>
			</div>
		</div>
		
		
        <!-- Fruits Shop End-->
    
        

         <!-- Footer Start -->
         <div class="container-fluid bg-dark text-white-50 footer pt-1 mt-1">
          <div class="container py-5">
            
              <div class="row g-5">
                  <div class="col-lg-4 col-md-6">
                      <div class="footer-item">
                          <h4 class="text-light mb-3">HAEGL PVT LTD</h4>
                          <p class="mb-4" >HAEGL Interview Egde is an innovative platform revolutionizing the recruitment landscape. Designed to streamline the hiring process for companies, and job seekers. </p>
                          
                      </div>
                  </div>
                  <div class="col-lg-2 col-md-6">
                      <div class="d-flex flex-column text-start footer-item">
                          <h4 class="text-light mb-3">Pages</h4>
                          <a class="btn-link" href="/">Home</a>
                          <a class="btn-link" href="/user_registration">Register</a>
                          
                          <a class="btn-link" href="/internship_program">Internship Program</a>
                          <a class="btn-link" href="/contact_us">Contact Us</a>
                         
                          
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-6">
                      <div class="d-flex flex-column text-start footer-item">
                          <h4 class="text-light mb-3">Contact</h4>
                          <a class="btn-link" href="">+91 7676348382</a>
                          <a class="btn-link" href="">info@haegl.in</a>
                          
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-6">
                      <div class="footer-item">
                          <h4 class="text-light mb-3">Address</h4>
                          <p class="mb-4">HAEGL TECHNOLOGIES PVT LTD, 1st Floor, AKALWADI MANSION, Vidyanagar, Hubballi, Karnataka 580021</p>
                         
                          <img src="img/payment.png" class="img-fluid" alt="">
                      </div>
                  </div>
              </div>

              <div class="pb-4 mb-4" style="border-bottom: 1px solid rgba(226, 175, 24, 0.5) ;">
                  <div class="row g-4">
                      <div class="col-lg-3">
                          
                      </div>
                      <div class="col-lg-6">
                       
                      </div>
                      <div class="col-lg-3">
                          <div class="d-flex justify-content-end pt-3">
                             
                              <a class="btn btn-outline-secondary me-2 btn-md-square rounded-circle" target="_blank" href="https://www.facebook.com/haegltechnologies/"><i class="fab fa-facebook-f"></i></a>
                              <a class="btn btn-outline-secondary me-2 btn-md-square rounded-circle" href="https://www.instagram.com/haegltechnologies/" target="_blank"><i class="fab fa-instagram"></i></a>
                              <a class="btn btn-outline-secondary btn-md-square rounded-circle" href="https://www.linkedin.com/company/haegl-technologies-pvt-ltd/mycompany/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- Footer End -->

        <!-- Copyright Start -->
        <div class="container-fluid copyright bg-dark py-4" style="margin-top: 0px;">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        <span class="text-light"><i class="fas fa-copyright text-light me-2"> 2024</i><a href="#" style="color:white;">placements.haegl.in
                                </a>. All right reserved</span>
                    </div>
                 
                </div>
            </div>
        </div>
        <!-- Copyright End -->



        <!-- Back to Top -->
        <a href="#" class="btn btn-danger border-3 border-primary rounded-circle back-to-top"><i class="fa fa-arrow-up"></i></a>   

        
    <!-- JavaScript Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/static/new_landing/lib/easing/easing.min.js"></script>
    <script src="/static/new_landing/lib/waypoints/waypoints.min.js"></script>
    <script src="/static/new_landing/lib/lightbox/js/lightbox.min.js"></script>
    <script src="/static/new_landing/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="/static/new_landing/js/main.js"></script>
    </body>

</html>