.text-primary {
    color: #1E88E5 !important; /* Adding !important to ensure the color change takes precedence */
}
.btn-primary{
    background-color: #1E88E5 !important;;
}
.para{
    color: rgb(28, 28, 28);
    font-weight: 300;
}
.hero-heading{
font-size: 25px;
font-family: "Stoke", serif;
font-weight: 600;
font-style: normal;

}
.clients-heading{
  font-size: 20px;
  font-family: "Stoke", serif;
font-weight: 600;
font-style: normal;
}
.why-heading{
  font-size: 25px;
  font-family: "Stoke", serif;
  font-weight: 600;
  font-style: normal;
  display: flex;
  justify-content: center;
  
}
.why-subheading{
  font-size: 20px;
  font-family: "Stoke", serif;
  font-weight: 600;
  font-style: normal;
  
}
.subtag{
  font-size: 14px;
  font-family: "Stoke", serif;
  font-weight: 300;
  font-style: normal;
  display: flex;
  justify-content: center;
}
.hr-heading{
    font-size: 35px;
    font-family: "Stoke", serif;
font-weight: 600;
font-style: normal;
}
.center {
  display: block;
  text-align: center;
 
}
.image-container {
    text-align: center;
  }
  
  .image-container img {
    display: inline-block;
    margin: 0 10px; /* Adjust margin as needed */
    transition: transform 0.3s ease; /* Smooth transition */
  }
  
  .image-container img:hover {
    transform: scale(1.1); /* Zoom effect on hover */
  }
  .bgc-secondary{
    background-color: #F4F6F8 !important;
  }
  .hr {
    margin-left: 100px !important; /* Default margin for desktop */
  }
  
  @media (max-width: 767px) {
    .hr {
      margin-left: 10px !important; /* Margin for mobile screens */
    }
  }

  .hr-btn {
    display: flex; /* Use flexbox layout */
    align-items: center; /* Align items vertically center */
}

.hr-btn img {
    margin-right: 20px; /* Adjust margin as needed for spacing between the image and text */
}

.hr-btn span {
    flex-grow: 0.2; /* Allow the text to fill the remaining space */
}

  
  .border-white{
    color: rgb(95, 95, 95) !important;
  }
  
  .hr-btn {
    background-color: transparent; /* Set initial background color */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Add transition effects */
}

.hr-btn:hover {
    background-color: #cde5ee; /* Change background color on hover */
    transform: scale(1.1); /* Zoom in effect on hover */
}

.inline-p {
  display: inline-block; /* Display p elements side by side */
  margin-right: 10px; /* Add margin between the p elements */
}
.bg-primary{
  background-color: #1E88E5 !important;
}
@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 3;
  }
}

.featurs-item {
  animation: fadeIn 1s ease-in-out;
}
.featurs-card {
  transition: all 0.3s ease-in-out;
}

.featurs-card:hover {
  border: 2px solid #4b6cb7; /* Change the border color as needed */
  box-shadow: 0px 0px 20px 20px rgba(0,0,0,0.2); /* Change the shadow as needed */
}
.featurs-item:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, border 0.3s ease;
}

.fade-left {
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.fade-left.fade-in {
  opacity: 1;
  transform: translateX(0);
}

.hover-effect:hover {
  border: 1px solid #4b6cb7; /* Border color */
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1); /* Shadow effect */
  transition: border 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
}

