/* Media query for screens up to 767px (typical mobile screens) */
@media only screen and (max-width: 767px) {
    h1.product-title {
      font-size: 20px !important; /* Decrease font size for mobile screens */
     
      font-weight: 300  !important;/* Add space between heading and other elements */
    }
  
    .product-details {
      align-items: flex-start; /* Align items from the left corner */
    }
    .company-name {
        font-size: 15px !important; /* Decrease font size for mobile screens */
      }
       /* Selector for the list items */
   .list-inline-item {
    display: flex !important;  /* Change to block to align from the left */
    color: white; /* Maintain white color */
    margin-bottom: 5px; /* Add margin between list items */
  }

  .list-inline-item a {
    color: white; /* Maintain white color for anchor tags */
  }
  /* Selector for the "Apply Now" button container */
  .sidebar {
     /* Adjusted margin for positioning */
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items from the left */
  }

  /* Selector for the "Apply Now" button */
  .sidebar button {
    background-color: #ec6433;
    color: white;
    margin-top: -45px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
     /* Adjusted margin for spacing */
  }
  }

  @media only screen and (max-width: 767px) {
    .category-block {
      margin: 0 auto; /* Center-align the category blocks */
      float: none; /* Ensure blocks don't float on smaller screens */
    }
  }

  @media (min-width: 375px) and (max-width: 844px) {
    .custom-sm-12 {
        flex: 0 0 100% !important;
        max-width: 100% !important;
        
    }
    .product-item .product-meta li {
        margin-right: 15px;
        color: #888;
      }
}
@media (max-width: 768px) {
    .product-item {
        /* Adjust the height or any other styles to make the card sizes uniform */
        height: 300px; /* Example height, adjust as needed */
        width: 100%; /* To ensure the card takes the full width */
    }
}